#form-main{
  .center{
    .header{
      .search-wrapper{
        .search{
          .google-map-autocomplete{
            height: 56px !important;
            position: relative !important;
            input{
                  padding-left: 16px;
                  height: auto;
                  color: rgba(0, 0, 0, 0.54);
            }
          }

        }
      }
    }
  }
}