#contactus {
    .top-image {
        height: 320px;
        min-height: 320px;
        max-height: 320px;
        background: url("/assets/images/backgrounds/fix-landing-bg.jpg") no-repeat 0 45%;
        background-size: 100% auto;
        }
  
}
#form-main {
        height: 100% !important;
    .content-card {
        height: 80% !important;

        .content-wrapper {
            height: 100% !important;
        }
    }
    .foc-nav:hover,
    .foc-nav:focus {
        height: 64px;
        margin: 0;
        border-radius: 0;
        padding: 14px 14px 0;
    }
    .foc-nav:active {
        height: 64px;
        margin: 0;
        border-radius: 0;
        padding: 14px 14px 0;
        border-bottom: solid 2px rgb(84,110,122);
        text-decoration: none;
    }
    .thread { 

        padding-10 {  
            padding-left: 10px !important;  
        }

    .md-button {
        padding: 0 0px;
        margin: 6px 8px;
        line-height: 26px;
        min-height: 26px;
        height: 26px;
        min-width: 66px;
        font-weight: 500;
        font-size: 12px;
        margin-right: 10px;
       top: 12px;
         }
    }
    .name {
        font-size: 15px;
        font-weight: 500;
        padding-bottom: 8px;
    }
    form-services {
        label {
                max-width: 89px;
                min-width: 89px;
                text-align: center;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap !important;
        }
    }
}
