<div id="form-main" class="page-layout carded fullwidth single-scroll" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" flex>

        <!-- CONTENT HEADER -->
        <div class="header">
            <span class="h2 white-fg">Active Jobs</span>
            <div class="search-wrapper md-whiteframe-4dp" layout="row" layout-align="start center" flex>
         <div class="search" flex layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>
          <input flex ng-model="activeJobs.search" type="text" placeholder="Search for an e-mail or contact" translate translate-attr-placeholder="FORM.SEARCH_PLACEHOLDER">
        </div>
      </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card outlook">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="start center">
                 <md-button href="#" class="md-primary md-hue-1 foc-nav">Active Jobs</md-button>
                <div class="toolbar-separator"></div>
                <md-button href="#" class="md-primary md-hue-1 foc-nav">Assigned Jobs</md-button>
                <div class="toolbar-separator"></div>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <md-content class="content-wrapper" ms-scroll>

              <div class="thread-list">

                <!--<div>
                    <h1>
                        Active Jobs:                        
                    </h1>
                    <div>
                        <ul>
                            <li ng-repeat="job in activeJobs.projects" ui-sref="app.jobdetail({jobId:job._id})">
                                <pre>
                                {{job|json:4}}
                                </pre>
                            </li>
                        </ul>
                    </div>
                </div>-->

            <div class="thread {{thread.status}} slide-top" md-ink-ripple ng-if="!activeJobs.loading" ng-repeat="thread in activeJobs.projects | filter: activeJobs.search"
                    ui-sref="app.jobdetail({jobId:job._id})" ng-class="{'current-thread': mouseOver, 'selected': activeJobs.isSelected(thread)}"
                    ng-mouseenter="mouseOver=true" ng-mouseleave="mouseOver=false"
                    ng-cloak layout="row" layout-xs="column"> 
                <div class="padding-10" layout="row" flex>
                        <div class="name" layout="row" layout-align="start center">
                            <form-services ng-hide="thread.images" service-ids="[thread.serviceId]" type="image"></form-services>
                            <thumb-image image-id="thread.images[0].id" image-class="avatar"></thumb-image>                            

                            <span class="text-truncate">{{thread.title}}</span>
                            
                    
                        </div>
                                           
                </div>
                 <div layout="row" flex layout-align="start center">
  
                        <div class="" flex>
                                <span>
                                    {{thread.createdAt | date}}
                                </span> 
                                
                        </div>
                        <div flex>
                        <form-services service-ids="[thread.serviceId]"></form-services>

                        </div>
                        <div flex><strong>Total quotes :</strong> {{thread.quotes.length || 0}}</div>

                    </div>
             <md-menu>
                <md-button ng-click="$mdOpenMenu($event)"
                                id="button-id"
                                class="md-primary-bg s14"
                                ng-disabled="false"
                                aria-label="button-label"> Action </md-button>
              
                <md-menu-content width="2">
                    <md-menu-item>
                    <md-button ng-click="">
                        <md-icon md-menu-align-target md-font-icon="icon-archive"></md-icon>
                        Archive
                    </md-button>
                    </md-menu-item>
                      <md-menu-item>
                    <md-button ng-click="">
                        <md-icon md-menu-align-target md-font-icon="icon-trash"></md-icon>
                        Delete
                    </md-button>
                    </md-menu-item>
                </md-menu-content>
                </md-menu>   
             
              </div>
                        <!--<div layout="column" layout-align="space-between end">
                            <div class="time">{{thread.time}}</div>
                        </div>-->
                                <!--<project-foldericon folder="thread.folder" master-settings="activeJobs.masterSettings"></project-foldericon>
                                <span>
                                    {{thread.folder}}
                                </span>-->
                                <!--<md-checkbox class="no-label checkbox" ng-checked="activeJobs.isSelected(thread)" ng-click="activeJobs.toggleSelectProject(thread, $event)"
                            aria-label="{{activeJobs.isSelected(thread) ? 'Deselect' : 'Select'}}">
                        </md-checkbox>-->
                                <!--<md-icon ng-show="thread.quotes.length>0" md-font-icon="icon-pencil" aria-label="label" class="s25"></md-icon>-->
                                
                            

                                <!-- Add below icons from tags -->
                                <!-- <md-icon md-font-icon="icon-paperclip" class="has-attachment s16"
                                        ng-if="thread.hasAttachments"></md-icon> -->
                                <!--<geo-distance 
                                current-user-location="activeJobs.currentUser.profile.address.location"
                                project="thread"
                                ></geo-distance>-->
                                <!--<div layout layout-align="end end">
                                <md-icon md-font-icon="icon-map-marker" aria-label="label" class="s16 md-primary">
                                </md-icon>
                                <span>180Km</span> 
                                </div>
                                <project-budget thread="thread"></project-budget>-->
                        <!--<md-icon md-font-icon="icon-checkbox-blank-circle" ng-show="thread.isChanged" aria-label="updated project marker" class="S18 md-warn"></md-icon>-->

              </div>
            </md-content>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>