<!--  OPTION CREATE-->
<div id="option-create" flex layout="column">
  <ul dnd-list="optionCreate.options">
    <li
    ng-repeat="option in optionCreate.options track by $index"
    dnd-draggable="option"
    dnd-moved="optionCreate.options.splice($index, 1)"
    dnd-selected="optionCreate.selected = option"
    dnd-effect-allowed="move"
    ng-class="{'selected': optionCreate.selected === option}">
    <dnd-nodrag layout="row">
      <form flex layout="row" layout-align="space between center">
        <div flex="70" layout="row" layout-align="start center">
          <md-button class="md-icon-button" dnd-handle aria-label="drag and drop options from here">
            <md-icon md-font-icon="icon-menu"></md-icon>
          </md-button>
          <!-- Show options tags based on type of options required-->
          {{optionCreate.type}}
          <input ng-if="optionCreate.type==='radio'" type="text" ng-model="option.value" placeholder="option text" required flex />
          <div ng-if="optionCreate.type==='icon-radio'" flex>
            Hello there this is icon-radio
          </div>

          



        </div>
        <div flex="30" layout="row" layout-align="end center">
          <md-button ng-click="optionCreate.addOption($index)" class="md-raised md-primary">
            <md-icon md-font-icon="icon-plus"></md-icon>
            Add
          </md-button>
          <md-button ng-click="optionCreate.removeOption($index)" ng-hide="optionCreate.options.length===1" class="md-raised md-primary">
            <md-icon md-font-icon="icon-minus"></md-icon>
            Remove
          </md-button>
        </div>
      </form>
    </dnd-nodrag>
    </li>
  </ul>
</div>
<!--  /OPTION CREATE-->
