#auth-modals {
  md-dialog-content {

    .md-dialog-content {

      
    }

  }
}



.signin-button-loading{
  width: 100px;
}

.register-button-loading{
  width: 170px;
}

.forgot-button-loading{
  width: 170px;
}
