project-detail {
    .side-nav {
        padding: 0 5px 5px 8px;
    }
    .content-area {
        border-right: solid 1px #e4e4e4;
    }
    .subject {
        span {
             font-size: 14px;
             font-weight: normal;
             color: #a2a2a2;
        }
    }
}