<!-- EMPTY DETAILS PAGE -->
<div ng-if="!projectDetail.currentProject" class="no-thread-selected" layout="column" layout-align="center center" flex ng-cloak>
  <md-icon md-font-icon="icon-format-float-none" class="s120 grey-400-fg"></md-icon>
  <span class="hint-text">Select a lead to view and bid</span>
</div>
<!--  /EMPTY DETAILS PAGE-->
<!-- DETAILS PAGE -->
<div ng-show="projectDetail.currentProject" flex layout="column" class="slide-top" ng-cloak>
  <!--  HEADER-->
  <div class="thread-header" layout="row" layout-align="space-between center">
    <!--  TITLE-->
    <div>
      <!--  PROJECT TITLE-->
      <div class="subject" flex>
        {{projectDetail.currentProject.title}}<br>
        <span>{{projectDetail.currentProject.detail}}</span>

      </div>

      <!--  /PROJECT TITLE-->
      
      <!--  PROJECT TAGS-->
      <!--<form-services service-ids="[projectDetail.currentProject.serviceId]"></form-services>-->
      <!--  /PROJECT TAGS-->
    </div>
    <!--  /TITLE-->
    <!--  PROJECT ACTIONS-->
    <div class="actions" layout="column" layout-align="start end">

      <h2>
        You Bid: {{projectDetail.quote.quotedValue}}
      </h2>
      <div class="icons">        
          <md-button class="md-icon-button">
            <md-icon md-font-icon="icon-tooltip-text" class="md-primary s24"></md-icon>
            <drop classes="'drop-theme-arrows-bounce-dark'" position="'left '">

            <div id="displayTextWithinDrop">
              <h3>
                Your Message:
              </h3>
              <div ta-bind ng-model="projectDetail.quote.quoteMessage"></div>
            </div>

            </drop>
          </md-button>
          <md-button class="md-icon-button" ng-show="projectDetail.isFavorite" ng-click="projectDetail.setFavorite(true)">
            <md-icon md-font-icon="icon-star" class="icon amber-600-fg s24 "></md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-hide="projectDetail.isFavorite" ng-click="projectDetail.setFavorite(false)">
            <md-icon md-font-icon="icon-star" class="icon s24 "></md-icon>
          </md-button>
          <md-button class="md-icon-button md-primary">
            <md-icon md-font-icon="icon-share" class="s24"></md-icon>
          </md-button>
      </div>      
      <!--  PROJECT ACTION BUTTONS-->
      
      <!--  /PROJECT ACTION BUTTONS-->
    </div>
    <!--  /PROJECT ACTIONS-->
  </div>
  <!--  /HEADER-->
  <!--  PROJECT PAGE LIST-->
  <div layout="column" flex>
    <div layout="row" layout-xs="column" flex>
      <div layout="column" layout-padding  flex-gt-sm="66" flex class="content-area">
      <project-summary ng-show="projectDetail.ready" class="slide-top" current-project="projectDetail.currentProject"></project-summary>
      <project-gallery ng-show="projectDetail.currentProject.images.length>0 && projectDetail.ready" class="slide-top" images="projectDetail.currentProject.images" readonly="true"></project-gallery>
      </div>
      <div layout="column"  flex-gt-sm="33" flex class="side-nav">
        <project-owner-contact owner-id="projectDetail.currentProject.owner"></project-owner-contact>
        <project-map location="projectDetail.location" layout="column" flex></project-map>
      </div>
    </div>
    
    
  

  </div>
  <!--  /PROJECT PAGE LIST-->
</div>
<!--  /DETAILS PAGE-->
