project-budget{
    margin-bottom: -6px;
    .budget-label {
        font-size: 12px !important;
        white-space: nowrap !important;
        padding: 2px 5px !important;
        border-radius: 2px !important;

    }
    .label-padding{
        font-weight: 500 !important;
    }
}