<div id="landing-toolbar" layout="column" layout-align="space-between stretch" du-scroll-container="content">
     <div class="navigation-toggle" layout="row" layout-align="start center" flex>
                <md-button class="md-icon-button" ng-click="vm.toggleHorizontalMobileMenu()"
                           aria-label="Toggle Mobile Navigation">
                    <md-icon md-font-icon="icon-menu"></md-icon>
                </md-button>
            <div class="logo" layout="row" layout-align="center center" flex>
            <a href="#header" du-smooth-scroll>
              <span class="logo-image">Fix</span>
            </a>
              <span class="logo-text">on Click</span>
          </div>
             </div>
    
    
    <div class="top-row" layout="row" layout-align="space-between center">
          <div class="logo" layout="row" layout-align="start center">
            <a href="home#header" du-smooth-scroll>
              <span class="logo-image">Fix</span>
            </a>
              <span class="logo-text">on Click</span>
          </div>

        <div layout="row" layout-align="start center">
       
            <div layout="row" layout-align="start center">
                <div class="toolbar-separator"></div>
                <!-- <md-button href="#header" du-smooth-scroll class="md-primary md-hue-1">Home</md-button>
                <div class="toolbar-separator"></div> -->
                <md-button href="home#categories" du-smooth-scroll du-scrollspy class="md-primary md-hue-1 foc-nav">Categories</md-button>
                <div class="toolbar-separator"></div>
                <!-- <md-button href="#video" du-smooth-scroll class="md-primary md-hue-1">Video</md-button>
                <div class="toolbar-separator"></div> -->
                <md-button href="home#work" du-smooth-scroll du-scrollspy class="md-primary md-hue-1 foc-nav">How it works?</md-button>
                <div class="toolbar-separator"></div>
                <md-button href="home#partner" du-smooth-scroll du-scrollspy class="md-primary md-hue-1 foc-nav">Our Partners</md-button>
                <div class="toolbar-separator"></div>
                <md-button href="#" class="md-accent md-raised md-hue-1">Become a Service Partner</md-button>
            </div>
          </div>

        <div layout="row" layout-align="start center">
            <md-progress-circular id="toolbar-progress" ng-if="$root.loadingProgress" class="md-accent"
                                  md-mode="indeterminate" md-diameter="32">
            </md-progress-circular>
        <md-button class="md-primary md-raised"></md-button>

            <!-- <ms-shortcuts></ms-shortcuts>-->

            <!--<md-menu-bar id="user-menu">
                <md-menu md-position-mode="left bottom">
                    <md-button class="user-button" ng-click="$mdOpenMenu()"
                               aria-label="User settings"
                               translate translate-attr-aria-label="TOOLBAR.USER_SETTINGS">
                        <div layout="row" layout-align="space-between center">
                            <div class="avatar-wrapper">
                                <img md-menu-align-target class="avatar" src="assets/images/avatars/profile.jpg">
                                <md-icon md-font-icon ng-class="landingToolbar.userStatus.icon"
                                         ng-style="{'color': landingToolbar.userStatus.color }"
                                         class="icon status s16">
                                </md-icon>
                            </div>
                            <span class="username" hide-sm>John Doe</span>
                            <md-icon md-font-icon="icon-chevron-down"
                                     class="icon s16" hide-sm></md-icon>
                        </div>
                    </md-button>

                    <md-menu-content width="3">
                        <md-menu-item class="md-indent" ui-sref="app.pages_profile">
                            <md-icon md-font-icon="icon-account" class="icon"></md-icon>
                            <md-button>My Profile</md-button>
                        </md-menu-item>

                        <md-menu-item class="md-indent" ui-sref="app.mail">
                            <md-icon md-font-icon="icon-email" class="icon"></md-icon>
                            <md-button>Inbox</md-button>
                        </md-menu-item>

                        <md-menu-item class="md-indent">
                            <md-icon md-font-icon ng-class="landingToolbar.userStatus.icon"
                                     ng-style="{'color': landingToolbar.userStatus.color }" class="icon"></md-icon>
                            <md-menu id="user-status-menu">
                                <md-button ng-click="$mdOpenMenu()" class="status" ng-class="landingToolbar.userStatus.class">
                                    {{landingToolbar.userStatus.title}}
                                </md-button>
                                <md-menu-content width="2">
                                    <md-menu-item class="status md-indent"
                                                  ng-class="{'selected': status === landingToolbar.userStatus}"
                                                  ng-repeat="status in landingToolbar.userStatusOptions">
                                        <md-icon md-font-icon="{{status.icon}}" ng-style="{'color': status.color }"
                                                 class="icon"></md-icon>
                                        <md-button ng-click="landingToolbar.setUserStatus(status)">
                                            {{status.title}}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>

                        <md-menu-divider></md-menu-divider>

                        <md-menu-item class="md-indent">
                            <md-icon md-font-icon="icon-logout" class="icon"></md-icon>
                            <md-button ng-click="landingToolbar.logout()">Logout</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar> -->

            <!-- <ms-search-bar on-search="landingToolbar.search(query)" on-result-click="landingToolbar.searchResultClick(item)" debounce="300"></ms-search-bar>
            <div class="toolbar-separator"></div> -->
            <toolbar-user ng-show="landingToolbar.isLoggedIn"></toolbar-user>
            <md-button class="md-warn md-raised md-hue-2" ng-click="landingToolbar.openLogin($event)" ng-hide="landingToolbar.isLoggedIn">LOGIN | REGISTER</md-button>
            <!--<md-menu id="language-menu" md-offset="0 72" md-position-mode="target-right target">
                <md-button class="language-button" ng-click="$mdOpenMenu()"
                           aria-label="Language" md-menu-origin md-menu-align-target>
                    <div layout="row" layout-align="center center">
                        <img class="flag" ng-src="assets/images/flags/{{landingToolbar.selectedLanguage.flag}}.png">
                        <span class="iso">{{landingToolbar.selectedLanguage.code}}</span>
                    </div>
                </md-button>

                <md-menu-content width="3" id="language-menu-content">
                    <md-menu-item ng-repeat="(iso, lang) in landingToolbar.languages">
                        <md-button ng-click="landingToolbar.changeLanguage(lang)" aria-label="{{lang.title}}" translate
                                   translate-attr-aria-label="{{lang.title}}">
                        <span layout="row" layout-align="start center">
                            <img class="flag" ng-src="assets/images/flags/{{lang.flag}}.png">
                            <span translate="{{lang.translation}}">{{lang.title}}</span>
                        </span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>-->

            <!-- <md-button id="quick-panel-toggle" class="md-icon-button" ng-click="landingToolbar.toggleSidenav('quick-panel')"
                       aria-label="Toggle quick panel" translate translate-attr-aria-label="TOOLBAR.TOGGLE_QUICK_PANEL">
                <md-icon md-font-icon="icon-format-list-bulleted" class="icon"></md-icon>
            </md-button> -->
        </div>
    </div>

    <div class="bottom-row">
        <div id="horizontal-navigation" ui-view="navigation"></div>
    </div>
</div>

<!-- <script type="text/javascript">
angular.module('myApp', ['duScroll'])
  .value('duScrollDuration', 2000)
  .value('duScrollOffset', 30)
  .controller('myCtrl', function($scope, $document) {
    $document.scrollTopAnimated(400).then(function() {
      console && console.log('You just scrolled to the top!');
    });

    var someElement = angular.element(document.getElementById('some-id'));
    $document.scrollToElementAnimated(someElement);
  }
);
</script> -->
