<!-- SIDENAV HEADER -->
<div class="header" layout="column" layout-align="space-between start">

  <div class="logo" layout="row" layout-align="start center">
    <span class="logo-icon">
      <md-icon md-font-icon="icon-chart-line" class="s35 icon"></md-icon>
    </span>
    <span class="logo-text" >Projects</span>
  </div>

  <div class="account">
    <div class="title">{{projectsNav.currentUser.profile.name}}</div>
     <md-select class="account-selection simplified" placeholder="Select services"
                   ng-model="projectsNav.selectedService" ng-change="projectsNav.setService()">
            <md-option ng-value="null"> All Services </md-option>
            <md-option ng-repeat="service in projectsNav.services track by $index" ng-value="service">
              {{service.name}}
            </md-option>
      </md-select> 
  </div>

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content ms-scroll class="content" flex>
  
  <projects-folders
  current-form="projectsNav.currentForm"
  master-settings = "projectsNav.masterSettings"
  current-folder = "projectsNav.currentFolder"
  ></projects-folders>



</md-content>
<!-- / SIDENAV CONTENT -->
