<md-dialog class="form-create-dialog " aria-label="New Quote">
  <form class="md-inline-quote" name="quoteCreate" ng-submit="quote.save()">
    <md-toolbar class="md-accent md-hue-2" layout="column">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Quote</span>
        <md-button class="md-icon-button" ng-click="quote.closeDialog()" aria-label="Close dialog" aria-label="close">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-progress-linear class="md-primary"
                        md-mode="indeterminate"
                        ng-disabled="!quote.loading"                                            
                        aria-label="loading">
    </md-progress-linear>

    <md-dialog-content layout="column" ms-scroll>
      <md-input-container class="md-block">
        <label >Enter Quote Amount <strong>Cost 1 crdt.</strong></label>
        <input ng-model="quote.quote.quotedValue"
         type="number" name="quoteValue"         
         md-autofocus required min="200" >
        <div class="errors" ng-messages="quoteCreate.quoteValue.$error" role="alert">
          <div ng-message="required">Quote Amount is Required</div>
          <div ng-message="min">You should charge at least AED 200/-</div>          
        </div>        
      </md-input-container>
      <md-checkbox ng-model="model1"
                  name="promote"
                  aria-label="label"> 
        <label for="promote">
          Check this if you want to promote your quote <strong> Cost 10 crdt. </strong>
        </label>
        <md-icon md-font-icon="icon-question-mark-circle" class="s20">
          <md-tooltip>
            Your quote will be highlighted and apear in top 3.
          </md-tooltip>
        </md-icon>
      </md-checkbox>      
      <md-checkbox ng-model="model2"
                  name="promote"
                  aria-label="label"> 
        <label for="promote">
          Check this if you want customer insight. <strong> Cost 2 crdt. </strong>
        </label>
        <md-icon md-font-icon="icon-question-mark-circle" class="s20">
          <md-tooltip>
            This Customer's contact information will be visible to you.
          </md-tooltip>
        </md-icon>
      </md-checkbox>
      <md-checkbox ng-model="model3"
                  name="promote"
                  aria-label="label"> 
        <label for="promote">
          Check this if you want deal insight. <strong> Cost 2 crdt. </strong>
        </label>
        <md-icon md-font-icon="icon-question-mark-circle" class="s20">
          <md-tooltip>
            You can view Avg Bid Value, Max Bid Value, Customer's Favorites and their Avg Bid Value etc.
          </md-tooltip>
        </md-icon>
      </md-checkbox>
      <br>                       
      <label>
        Message
      </label>
      <text-angular ng-model="quote.quote.quoteMessage"></text-angular>    
      <br>  
    <md-checkbox ng-model="model4"
                  name="tnc"
                  required
                  aria-label="label"> 
        <label for="promote">
          I read and accept <a href="/pro/terms">terms and conditions </a> 
        </label>        
    </md-checkbox>

    </md-dialog-content>
    <md-divider md-inset></md-divider>
    <md-dialog-actions layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start center">
        <md-button  type="submit"
        ng-disabled="!quoteCreate.$valid"
        class="send-button md-accent md-raised"
        aria-label="Save" aria-label="save">
          Save
        </md-button>

      </div>

      <div layout="row" ng-if="quote.edit">
        <md-button class="md-icon-button" aria-label="Delete" ng-click="quote.remove()" aria-label="delete">
          <md-icon md-font-icon="icon-delete"></md-icon>
          <md-tooltip>
            <span> delete quote</span>
          </md-tooltip>
        </md-button>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
