#pro-detail {
  height: 100%;
  overflow: hidden;
  .top-bg {
    position: relative;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    height: 120px;
    //width: 100%;
    background-image: url(/assets/images/backgrounds/header-bg.png);
    background-size: cover;
    text-align: center;
    display: inline-table;
    width: 100%;
    h1 {
      margin: 10px 0px 0px 0px;
    }
    h3 {
      margin: 0px 0px 0px 0px;
    }
  }
  .form-content {
    width: 95%;
    max-width: 1280px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
    margin-top: -50px;
    margin-right: auto;
    margin-left: auto;
    z-index: 10;
    margin-bottom: 25px;
    md-tabs-content-wrapper {
      display: flex;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      md-tab-content {
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        >div {
          display: flex;
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
        }
      }
    }
    files-upload {
      width: 70%;
      min-width: 275px;
      margin-top: 30px;
    }
    .question-form {
      width: 100%;
      .question-wizard {
        .steps-indicator {
          height: 50px !important;
        }
      }
      question-preview {
        width: 100%;
      }
    }
    // .ms-stepper .ms-stepper-horizontal .ms-stepper-steps {
    //     padding: 0;
    // }
    // .ms-stepper .ms-stepper-horizontal, .ms-stepper .ms-stepper-horizontal .ms-stepper-navigation-wrapper .ms-stepper-navigation {              
    //     box-shadow:none;
    // }
    // .ms-stepper .ms-stepper-horizontal { 
    //     border-top: solid 1px rgba(194, 194, 194, 0.78);
    // }
    // .ms-stepper .ms-stepper-horizontal .ms-stepper-controls {
    //     padding: 1px 0;
    // }
    .content-area {
      width: 100%;
      .ms-form-wizard-form {
        padding: 0 !important;
      }
      .list {
        border: solid 1px rgba(194, 194, 194, 0.78);
        // -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
        // -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
        // box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
        background-color: whitesmoke;
        // max-width: 805px;
        .toolbar-height {
          height: 23px;
          .md-toolbar-tools {
            .title {
              font-size: 15px;
            }
          }
        }
        .preview-content {
          // height: 450px;
          //  min-height: 450px;  
          .formly-container {
            padding: 10px 20px;
          }
          .formly-field {
            width: 100%;
            md-radio-button,
            md-checkbox {
              margin-bottom: 0;
              ._md-container,
              ._md-off,
              ._md-on,
              ._md-icon,
              .md-checked {
                width: 15px;
                height: 15px;
                left: 5px;
              }
              ._md-icon:after {
                left: 4.66667px;
                top: 1.0px;
                width: 5.66667px;
                height: 12.33333px;
              }
            }
            //  md-input-container label, label {
            //       font-size: 18px !important;
            //         margin-bottom: 10px;
            //         padding-left: 0 !important;
            //         font-weight: 500;
            //         color: rgb(45,50,62) !important;
            //   }
            @media (max-width: 768px) {
              md-input-container label {
                font-size: 16px !important;
              }
            }
            @media (max-width: 320px) {
              md-input-container label {
                font-size: 14px !important;
              }
            }
            // .md-input {
            //       border-color: rgba(0,0,0,0.12);
            //   }
            // md-input-container{
            //   width: 70%;
            //   min-width: 275px;
            //   margin-top: 22px ;
            // }
            md-select {
              font-size: 16px !important;
            }
            md-input-container textarea {
              background: rgba(255, 255, 255, 0.74);
              margin-top: -7px;
            }
            md-input-container {
              .address {
                top: -50px;
              }
              &.pictures {
                margin: 48px 0;
                label {
                  font-size: 18px;
                  padding: 35px 0px;
                  color: black;
                }
              }
            }
            md-input-container.md-input-has-value>md-icon {
              color: green;
            }
            md-input-container.md-input-invalid>md-icon {
              color: red;
            }
            // md-input-container > .md-font {
            //  color: dodgerblue; }
            .md-datepicker-input-container,
            md-contact-chips {
              min-width: 275px;
              border-bottom: none;
              padding-left: 28px;
              width: 100%;
            }
            .md-datepicker-button {
              display: none;
            }
            .container {
              height: 350px;
              position: relative;
            }
          }
          .formly-field-radio {
            padding: 20px 0;
          }
        }
        .question-preview {
          min-height: 40px;
        }
      }
    }
  }
  .headline {
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 20px 0 0;
    height: 50px;
    list-style: none;
    width: 100%;
    text-align: center;
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: inline-table;
  }
  .footer {
    height: 50px;
    max-height: 50px;
  }
  // .steps-indicator.steps-3:before {
  //               left: calc(107% / 3 / 2);
  //               right: calc(107% / 3 / 2);
  //               max-width: 867px;
  //               margin: auto;
  //         }
  @media (max-width: 768px) {
    .form-content {
      width: 100% !important;
      height: 100% !important;
      min-height: 100% !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
    .headline {
      font-size: 12px;
    }
  }
  @media (max-width: 768px) {
    .top-bg {
      display: none;
    }
  }
}
