<!-- DETAILS PAGE -->
<div ng-show="projectSummary.currentProject" flex layout="column" class="slide-top md-whiteframe-2dp" ng-cloak>
  <!--  HEADER-->
  <div class="thread-header heading" layout="row" layout-align="space-between center">    
    <div>
      <!--  TITLE-->
      <div class="name">Inquiry Detail</div>
      <!--  /TITLE-->
    </div>
  </div>
  <!--  /HEADER-->
  <!--  PROJECT PAGE LIST-->
  <div layout="column" flex class="content">
    <div ng-repeat="pages in projectSummary.currentProject.pages ">
      <div ng-repeat="question in pages.questions | orderBy: 'adminKey'" ng-hide="question.questionType === 'gmap'">
        <div layout="row" ng-hide="question.questionType==='checkbox'">
          <span class="question">
          
          </span>
          <span class="answer">
          {{question.supplierDescription}}
          </span>
        </div>
        <div layout="row" ng-hide="question.questionType==='checkbox'">
          {{question.answer}}
        </div>
        <div layout="row" ng-show="question.questionType==='checkbox'">
          <span class="question">
          
          </span>
          <span class="answer">
          {{question.checkStatement}}
          </span>
        </div>
        <div layout="row" ng-show="question.questionType==='checkbox'">
          {{question.supplierDescription}}
        </div>

      </div>
    </div>
  </div>  
  <div layout="column">
    <div layout layout-align="space between center">
    <h2>  
    More Details:
    </h2>
    <md-button aria-label="Edit" class="md-icon-button" ng-if="projectSummary.isAdminOrSupport">
       <md-icon md-font-icon="icon-pencil"></md-icon>       
    </md-button>
    </div>
      {{projectSummary.currentProject.detail}}
    
  </div>
  <!--  /PROJECT PAGE LIST-->
</div>

<!--<pre> 
  {{projectSummary.currentProject.pages}}
</pre>-->

<!--  /DETAILS PAGE-->
