#question-preview {
  width: 100%;
  .list {
    border: solid 1px rgba(194, 194, 194, 0.78);    
    // -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
    // -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
    // box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
    background-color: whitesmoke;
    
    .toolbar-height {
      height: 23px;
      .md-toolbar-tools{
        .title{
          font-size: 15px;          
        }
      }
    }
    .preview-content {
          
      // height: 450px;
      //  min-height: 450px;  
      .formly-container{
        padding: 10px 20px;
      }
      .formly {        
        .formly-field {
          width: 100%;

          md-radio-button, md-checkbox {
            margin-bottom: 0;
          ._md-container, ._md-off, ._md-on, ._md-icon, .md-checked {
                width: 15px;
                height: 15px;
                left: 5px;
               }
               ._md-icon:after {
                 
                    left: 4.66667px;
                    top: 1.0px;
                    width: 5.66667px;
                    height: 12.33333px;
                    }
               }
          label {
               font-size: 18px !important;
                margin-bottom: 10px;
                padding-left: 0 !important;
                font-weight: 500;
                color: rgb(45,50,62) !important;
          }
           @media (max-width: 768px) {
             label {
             font-size: 16px !important;
           }}
            @media (max-width: 320px) {
             label {
             font-size: 14px !important;
           }}
          md-input-container{
            width: 70%;
            min-width: 275px;
            margin-top: 30px ;
          }
          md-select{
            font-size: 16px !important;
          }
          md-input-container textarea {
              background: rgba(255, 255, 255, 0.74);
              margin-top: -7px;
          }
          .md-datepicker-input-container {
              width: 342px;
              min-width: 275px;
              margin-bottom: 20px;
          }
        }
        .formly-field-radio {
          padding: 20px 0;
        }
      }
    }
    .question-preview{
      min-height: 40px;    
    }
  }
}


.label-padding{
  padding: 1px 10px;    
  vertical-align: super;
  margin-right: 3px;
  border-radius: 3px;
}
