<md-dialog class="page-create-dialog " aria-label="New Form">
  <form class="md-inline-form" name="pageCreate" ng-submit="pageCreate.$valid && page.save()">
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title" translate="FORM.NEW_PAGE">Add or Edit Form</span>
        <md-button class="md-icon-button" ng-click="page.closeDialog()" aria-label="Close dialog" tranlate translate-aria-label="FORM.CLOSE_DIALOG">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>
      <md-input-container class="md-block">
        <label translate="FORM.PAGETITLE">Title</label>
        <input ng-model="page.page.title"
         type="text" name="pageTitle"
         ng-maxlength="15" ng-minlength="5"
         md-autofocus required>
        <div class="errors" ng-messages="pageCreate.pageTitle.$error">
          <div ng-message="required">Folder name is Required</div>
          <div ng-message="minlength">Name should contain at least 5 characters</div>
          <div ng-message="maxlength">Max length is 50 characters</div>
        </div>
      </md-input-container>
    </md-dialog-content>

    <md-divider md-inset></md-divider>
    <md-dialog-actions layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start center">
        <md-button  type="submit"
        ng-disabled="!pageCreate.$valid"
        class="send-button md-accent md-raised"
        aria-label="Save" translate="FORM.SAVE" translate-attr-aria-label="FORM.SAVE">
          Save
        </md-button>
      </div>
      <div layout="row" ng-if="page.edit">
        <md-button class="md-icon-button" aria-label="Delete" ng-click="page.remove()" translate-attr-aria-label="MAIL.DELETE">
          <md-icon md-font-icon="icon-delete"></md-icon>
          <md-tooltip>
            <span translate="MAIL.DELETE"></span>
          </md-tooltip>
        </md-button>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
