<div id="questions-toolbar" layout="column" layout-align="space-between stretch" du-scroll-container="content">
    <div class="top-row" layout="row" layout-align="space-between center">

        <div layout="row" layout-align="start center">
            <div class="navigation-toggle" hide-gt-sm>
                <md-button class="md-icon-button" ng-click="vm.toggleHorizontalMobileMenu()"
                           aria-label="Toggle Mobile Navigation">
                    <md-icon md-font-icon="icon-menu"></md-icon>
                </md-button>
            </div>
          <div class="logo" layout="row" layout-align="end center">
            <a href="/#header" du-smooth-scroll>
              <span class="logo-image">Fix</span>
            </a>
              <!--<span class="logo-text">onClick</span>-->
          </div>
          <div class="toolbar-separator"></div>
          </div>

        <div layout="row" layout-align="start center">
           <toolbar-user ng-show="pagesToolbar.isLoggedIn"></toolbar-user> 
           <md-button class="md-warn md-raised md-hue-2" ng-click="pagesToolbar.openLogin($event)" ng-hide="pagesToolbar.isLoggedIn">LOGIN</md-button>
         </div>
    </div>

    <div class="bottom-row">
        <div id="horizontal-navigation" ui-view="navigation"></div>
    </div>
</div>


