<div class="boxed">

<h1>
    {{sampleComponent.helloText}}
</h1>
<h2>
  This is a message from Sample controller to me:
  {{sampleComponent.message}}
</h2>
<input type="text" ng-model="vm.message">
<button type="button" class="md-button md-primary md-raised" ng-click="vm.updateText()"> Save</button>


<div >
  <md-progress-circular ng-disabled="!vm.catLoading" class="md-accent" md-diameter="40">
  </md-progress-circular>
  <ul ng-if="!vm.catLoading">
    <li ng-repeat="cat in vm.categories">
      <div layout="row" >
        <!-- <img ng-src="{{cat.image.url}}" style="height:100px;" alt=""/> -->
        <thumb-image image-id="cat.image.id"></thumb-image>
        <div layout="column">
          <h1>
            {{cat.name}}
          </h1>
          <h2>
            {{cat.description}}
          </h2>
        </div>
      </div>

    </li>
  </ul>
</div>
</div>
