#form-preview {
    // height: 100%;    
    .top-bg {
    position: relative;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    height: 200px;
    //width: 100%;
    background-image: url(/assets/images/backgrounds/header-bg.png);
    background-size: cover;
  text-align: center;
  h1{
    margin: 10px 0px 0px 0px;
  }
  h3{
    margin: 0px 0px 0px 0px;
  }
    }

    .form-content {
        width: 95%;      
        max-width: 1280px;
        background: #FFFFFF;
        box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
        margin-top: -50px;
        margin-right: auto;
        margin-left: auto;
        z-index: 10;
        margin-bottom: 25px;
         .question-form {
                    width: 100%;
                    .question-wizard{
                      .steps-indicator{
                        height:50px !important;
                      }
                    }
                    question-preview {
                      width: 100%;
                    }
                  }
    }
    .steps-indicator.steps-3:before {
                  left: calc(107% / 3 / 2);
                  right: calc(107% / 3 / 2);
                  max-width: 867px;
                  margin: auto;
              
            }
 @media (max-width: 768px) {
              .form-content {
                width: 100% !important;
                height: 100% !important;
                min-height: 100% !important;
                margin-top: 20px !important;
                margin-bottom: 0 !important;
                 
              }
              .steps-indicator {
                .steps-name {
                  font-size: 12px;
                }
              }
              }

  @media (max-width: 768px) {
              .top-bg {
                display: none;
              }}                           
}
