.angular-google-map-foccontainer{
    width: 100%;
    min-height: 400px;
    padding-bottom: 10px; 

    /*
 * These are the default styles applied to the stock Google Places Autocomplete component. Importantly they preserve
 * the required "powered by Google" logo.
 */
}
.google-map-autocomplete{
    md-input-container{
        margin: 1px !important;
        height: 30px;
        padding-top: 10px;        
    }
}
