<div layout="column">
    <div class="google-map-autocomplete">
        <ng-form name="gmap" ng-submit="focGmap.updateLocation()" layout="row">
            <md-button ng-mousedown="focGmap.refresh=true" ng-mouseup="focGmap.refresh=false" class="md-icon-button md-raised" md-ripple-size="partial" md-no-ink="true" aria-label="map search go">
                <md-icon md-font-icon="icon-refresh" aria-label="refresh" class="s20"></md-icon>
             </md-button>
            <md-input-container md-no-float>
                <input type="text" g-places-autocomplete ng-model="focGmap.myScopeVar" placeholder="Enter a location" />
            </md-input-container>
            <md-button type="submit" ng-click="focGmap.updateLocation()" class="md-raised md-primary" md-ripple-size="partial" md-no-ink="true" aria-label="map search go">
            Go </md-button>
        </ng-form>

    </div>    
    <ui-gmap-google-map ng-if="!focGmap.refresh" center="focGmap.map.center" events="focGmap.map.events" zoom="focGmap.map.zoom" options="focGmap.map.options">
        <ui-gmap-marker coords="focGmap.location" options="focGmap.marker.options" events="focGmap.marker.events" idKey="'focGmap.key'">            
        </ui-gmap-marker>
    </ui-gmap-google-map>    
</div>