// #contactus {
//     .top-image {
//         height: 320px;
//         min-height: 320px;
//         max-height: 320px;
//         background: url("/assets/images/backgrounds/fix-landing-bg.jpg") no-repeat 0 45%;
//         background-size: 100% auto;
//         }
  
// }
#form-main {
&.jobs {
    //     height: 100% !important;
    // .content-card {
    //     height: 80% !important;

    //     .content-wrapper {
    //         height: 100% !important;
    //     }
    // }
    // .foc-nav:hover,
    // .foc-nav:focus {
    //     height: 64px;
    //     margin: 0;
    //     border-radius: 0;
    //     padding: 0;
    // }
    // .foc-nav:active {
    //     height: 64px;
    //     margin: 0;
    //     border-radius: 0;
    //     padding: 0;
    //     border-bottom: solid 2px rgb(84,110,122);
    //     text-decoration: none;
    // }
    .center {
        width: 95%;
        margin: 0 auto;
        max-width: 1280px;
        }
    .thread { 

        .padding-5-10 {  
            padding: 5px 10px !important;  
        }

    .md-button {
        padding: 0 0px;
        margin: 6px 8px;
        line-height: 26px;
        min-height: 26px;
        height: 26px;
        min-width: 66px;
        font-weight: 500;
        font-size: 12px;
        margin-right: 10px;
        top: 7px;
        width: 95%;
         }
    }
    .name {
        font-size: 15px;
        font-weight: 500;

        .organization {
            font-weight: normal;
        }
    }
    form-services {
        label {
                max-width: 89px;
                min-width: 89px;
                text-align: center;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap !important;
        }
    }
    @media (max-width: 768px) {
              .center {
                width: 100% !important;
                height: 100% !important;
                min-height: 100% !important;
                margin-top: 20px !important;
                margin-bottom: 0 !important;
                 
              }
              .steps-indicator {
                .steps-name {
                  font-size: 12px;
                }
              }
              .top-bg, .header {
                display: none;
              }
              }

                           

    
}
}

.bid {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    color: #333;
    text-align: center;
}