<!-- TOOLBAR -->
<div class="toolbar" layout="row" layout-align="space-between center">

  <div layout="row" layout-align="start center">
    <!-- ACTION BUTTONS -->
    <div class="action-buttons" layout="row" layout-align="start center">

      <div layout layout-align="start center" hide-gt-md>
        <md-button class="md-icon-button" aria-label="Toggle navigation fold" translate translate-attr-aria-label="TOOLBAR.TOGGLE_NAVIGATION_FOLD"
          ng-click="projectsView.toggleListNav('projects-list-sidenav')">
          <md-icon class="s18" ng-class="{'rotate-icon-0':projectsView.listNavIsOpen,'rotate-icon-180':!projectsView.listNavIsOpen}"
            md-font-icon="icon-backburger"></md-icon>
        </md-button>
        <div class="divider-vertical"></div>
      </div>
      <div>
        <span class="">
          Available Credits: 
        </span>
        <strong>
          152
        </strong>
      </div>
       
      <!-- Multiple Selection Checkbox-->
      <!--<md-checkbox class="no-label" aria-label="select or unselect all" ng-checked="projectsView.selectedProjects.length > 0" ng-click="projectsView.toggleSelectProjects()"></md-checkbox>-->
      <!-- /Multiple Selection Checkbox-->
      <div class="" ng-show="projectsView.currentProject && projectsView.selectedProjects.length <= 0">
      </div>
      <div class="mybouncy-slide-left" ng-show="projectsView.selectedProjects.length > 0">
        <leadmove-to ng-cloak selected-projects="projectsView.selectedProjects" ng-show="projectsView.isAdmin">
        </leadmove-to>
      </div>

    </div>
    <!-- /ACTION BUTTONS -->

  </div>
  <div layout="row" layout-align="start center">
    <span class="page-info" hide-sm>
      {{(projectsView.page-1)*projectsView.perPage}} - {{(projectsView.page-1)*projectsView.perPage+projectsView.perPage}} of {{projectsView.numberOfLeads}}
      </span>

    <md-button class="md-icon-button arrow"
      ng-click="projectsView.previousPage()"
      ng-disabled="(projectsView.page-1)*projectsView.perPage===0" 
      aria-label="Previous">
      <md-icon md-font-icon="icon-chevron-left"></md-icon>
      <md-tooltip><span>Previous</span></md-tooltip>
    </md-button>
    <md-select class="page-size-select" ng-model="projectsView.perPage">
      <md-option ng-value="perPage.value" ng-repeat="perPage in projectsView.perPageOptions">
        {{ perPage.value }}
     </md-option>
    </md-select>
    <md-button class="md-icon-button arrow"
      ng-click="projectsView.nextPage()" 
      ng-disabled="(projectsView.page-1)*projectsView.perPage+projectsView.perPage>=projectsView.numberOfLeads"
      aria-label="Next">
      <md-icon md-font-icon="icon-chevron-right"></md-icon>
      <md-tooltip><span>Next</span></md-tooltip>
    </md-button>

    <md-button ng-click="projectsView.openQuoteDialog($event)"
             id="quote"
             class="md-raised md-warn"
             ng-disabled="false"
             style="width:65px;"             
             aria-label="quote"> Quote </md-button>
  </div>
  <!--<md-button class="md-warn md-raised" aria-label="button-label" ng-disabled="!projectsView.currentProject.isChanged" ng-click="projectsView.update()"> Save </md-button>-->

</div>

<!-- CONTENT WRAPPER -->
<!--<div class="content-wrapper" layout="row" layout-align="center center" flex ng-if="projectsView.loading">
  <md-progress-circular md-diameter="50"></md-progress-circular>
</div>-->

<div class="content-wrapper trigger" layout="row" flex ng-cloak>
  <!--BACKDROP OR LOADING-->
  <md-backdrop class="md-opaque" ng-if="projectsView.loading">
    <span style="position:absolute;top:50%;left:50%;">  
      Loading...
    </span>
    <md-progress-circular 
                          style="position:absolute;top:55%;left:50%;"
                          class="md-primary"       
                          md-diameter="45"
                          aria-label="loading">
    </md-progress-circular>
  </md-backdrop>
  
  <!--/BACKDROP OR LOADING-->

  <!-- THREAD LIST -->
  <md-sidenav 
    ng-hide="projectsView.loading"
    class="sidenav" 
    md-is-locked-open="$mdMedia('gt-md')" 
    md-component-id="projects-list-sidenav" 
    ms-sidenav-helper
    layout="column" style="overflow:hidden;">
    <div class="content thread-list" layout="column" flex infinite-scroll='projectsList.loadMore()' infinite-scroll-distance='1'
      ms-scroll>
      <projects-list search="projectsView.search" layout="column" flex ready="projectsView.ready" current-project="projectsView.currentProject"
        selected-projects="projectsView.selectedProjects" projects="projectsView.projects" master-settings="projectsView.masterSettings"
        get-more="projectsView.loadMore()"></projects-list>
    </div>
  </md-sidenav>
  <!-- / THREAD LIST -->



  <!-- THREAD DETAIL -->
  <div class="content thread-detail flex-scrollable" ms-scroll layout="column" flex ng-hide="projectsView.loading">
    <project-detail layout="column" ready="projectsView.ready" flex current-project="projectsView.currentProject" update="projectsView.done($event)"></project-detail>
  </div>
  <!-- / THREAD DETAIL -->

</div>
<!-- / CONTENT WRAPPER -->