<!-- TOOLBAR -->
<div class="toolbar" layout="row" layout-align="space-between center">

  <div layout="row" layout-align="start center">
    <!-- ACTION BUTTONS -->
    <div class="action-buttons" layout="row" layout-align="start center">

      
      <md-button class="md-icon-button" hide-gt-md aria-label="Toggle navigation fold" translate translate-attr-aria-label="TOOLBAR.TOGGLE_NAVIGATION_FOLD"
        ng-click="projectsView.toggleListNav('projects-list-sidenav')">
        <md-icon class="s18" ng-class="{'rotate-icon-0':projectsView.listNavIsOpen,'rotate-icon-180':!projectsView.listNavIsOpen}" md-font-icon="icon-backburger"></md-icon>
      </md-button>
      <md-checkbox class="no-label" aria-label="select or unselect all" ng-checked="projectsView.selectedProjects.length > 0" ng-click="projectsView.toggleSelectProjects()"></md-checkbox>

      <div class="divider-vertical"></div>
      <div class="" ng-show="projectsView.currentProject && projectsView.selectedProjects.length <= 0">        
      </div>
      <div class="mybouncy-slide-left" ng-show="projectsView.selectedProjects.length > 0">
        <leadmove-to ng-cloak master-settings="projectsView.masterSettings" selected-projects="projectsView.selectedProjects"></leadmove-to>
      </div>

    </div>
    <!-- /ACTION BUTTONS -->

  </div>
  <md-button class="md-warn md-raised" aria-label="button-label" ng-disabled="!projectsView.currentProject.isChanged" ng-click="projectsView.update()"> Save </md-button>


</div>

<!-- CONTENT WRAPPER -->
<!--<div class="content-wrapper" layout="row" layout-align="center center" flex ng-if="projectsView.loading">
  <md-progress-circular md-diameter="50"></md-progress-circular>
</div>-->

<div class="content-wrapper trigger" layout="row" flex ng-hide="projectsView.loading" ng-cloak>

  <!-- THREAD LIST -->
  <md-sidenav class="sidenav" md-is-locked-open="$mdMedia('gt-md')" md-component-id="projects-list-sidenav" ms-scroll ms-sidenav-helper>
    <div class="content thread-list" ms-scroll flex>
      <projects-list search="projectsView.search" current-project="projectsView.currentProject" selected-projects="projectsView.selectedProjects" projects="projectsView.projects"
        master-settings="projectsView.masterSettings"></projects-list>
    </div>
  </md-sidenav>
  <!-- / THREAD LIST --> 

  

  <!-- THREAD DETAIL -->
  <div class="content thread-detail flex-scrollable" ms-scroll  layout="column" flex>
    <project-detail layout="column" flex current-project="projectsView.currentProject" update="projectsView.done($event)"></project-detail>
  </div>
  <!-- / THREAD DETAIL -->

</div>
<!-- / CONTENT WRAPPER -->