<div class="no-threads" ng-if="!formList.forms.length">There are no Forms yet in '{{formList.currentFilter.filter}}'!</div>
<div class="loading-threads" layout="column" layout-align="center center" ng-if="!formList.forms && formList.loading">
    <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="64"></md-progress-circular>
    <div>Loading forms...</div>
</div>
<div class="thread {{thread.status}} slide-top" md-ink-ripple ng-if="!formList.loading" ng-repeat="thread in formList.forms | filter: formList.search | filter: global.search "
    ng-click="formList.openForm(thread,'formlist-sidenav')" ng-class="{'unread': !thread.read, 'current-thread': formList.currentForm === thread, 'selected': formList.isSelected(thread)}"
    ng-cloak>

    <div layout="row" layout-align="start center">
        <md-checkbox class="no-label" ng-checked="formList.isSelected(thread)" ng-click="formList.toggleSelectForm(thread, $event)"
            aria-label="{{formList.isSelected(thread) ? 'Deselect' : 'Select'}}">
        </md-checkbox>

        <div class="info" flex layout="column">
            <div class="name" layout="row" layout-align="start center">
                <form-owner owner-id="thread.owner"></form-owner>

                <span class="text-truncate">{{thread.title}}</span>

                <!-- Add below icons from tags -->
                <!-- <md-icon md-font-icon="icon-paperclip" class="has-attachment s16"
                         ng-if="thread.hasAttachments"></md-icon> -->
            </div>
            <div class="message text-truncate">
                <form-foldericon folder="thread.folder" master-settings="formList.masterSettings"></form-foldericon>
                {{thread.folder}}
                <!-- <div class="labels">
                    <div class="label" ng-repeat="labelId in thread.labels"
                         ng-class="formList.getLabelColor(labelId)">{{formList.getLabelTitle(labelId)}}
                    </div>
                </div> -->
            </div>

        </div>

        <div layout="column" layout-align="space-between end">
            <div class="time">{{thread.time}}</div>
        </div>
        <md-icon md-font-icon="icon-checkbox-blank-circle" ng-show="thread.isChanged" aria-label="updated form marker" class="S18 md-warn"></md-icon>

    </div>
</div>