<!-- DETAILS PAGE -->
<div ng-show="projectGallery.images.length>0" flex layout="column" class="slide-top md-whiteframe-2dp" ng-cloak>
  <!--  HEADER-->
  <div class="thread-header heading" layout="row" layout-align="space-between center">    
    <div>
      <!--  TITLE-->
      <div class="name">Uploaded Images</div>
      <!--  /TITLE-->
    </div>
  </div>
  <!--  /HEADER-->
  <!--  PROJECT PAGE LIST-->
  <div layout="column" flex class="content">
    <md-grid-list class="list"
                layout="column" flex
                md-cols="6" md-cols-xs="2" md-cols-sm="3" md-cols-md="4" md-cols-gt-lg="6"
                md-row-height-gt-md="1:1" md-row-height="4:3"
                md-gutter-gt-md="20px" md-gutter-gt-sm="12px" md-gutter="8px">

      <md-grid-tile class="foc-tile"
                id="links"  
                ng-repeat="file in projectGallery.images track by $index" 
                md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1"
                >
      <!--CONTENT IMAGE-->       
        <!--<a id="gallery-image" class="post__image-container img-box-shadow" ng-click="projectGallery.openLightBoxModal($index)">-->
                <!--<img ng-src="{{file.url}}"
                class="post__featured-image toggle img-thumbnail"
                alt="alt"/>            -->
        <div class="post__image-container"
                ng-if="projectGallery.readonly"
                onclick="myFunction(event)">              
        <a href="{{file.url}}">
                <img src="{{file.url}}" alt="{{file.url}}" class="post__featured-image">
        </a>
        </div>

        <div ng-if="!projectGallery.readonly" class="post__image-container">
          <md-icon              
              ng-click="projectGallery.remove(file.id,$index)" 
              md-font-icon="icon-minus-circle-outline"
              aria-label="remove" class="md-raised md-icon-button md-accent icon-remove s25">     
          </md-icon> 
          <img ng-src="{{file.url}}"
          class="post__featured-image toggle"
          alt="alt">
        </div>        



        <!--</a>-->
      <!--CONTENT IMAGE-->

      </md-grid-tile>


    </md-grid-list>
  </div>  
                <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                <div id="blueimp-gallery" class="blueimp-gallery">
                    <div class="slides"></div>
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="close">×</a>
                    <a class="play-pause"></a>
                    <ol class="indicator"></ol>
                </div>    
  <!--  /PROJECT PAGE LIST-->
</div>

<!--<pre> 
  {{projectGallery.currentProject.pages}}
</pre>-->

<!--  /DETAILS PAGE-->
<script>
var myFunction = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = document.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>