<script>

</script>


<!-- DETAILS PAGE -->
<div ng-show="projectGallery.images.length>0" flex layout="column" class="slide-top" ng-class="{'md-whiteframe-2dp':!projectGallery.inline}" ng-cloak>
  <!--  HEADER-->
  <div ng-hide="projectGallery.inline" class="thread-header heading" layout="row" layout-align="space-between center">    
    <div>
      <!--  TITLE-->
      <div class="name">Uploaded Images</div>
      <!--  /TITLE-->
    </div>
  </div>
  <!--  /HEADER-->
  <!--  PROJECT PAGE LIST-->
  <div layout="column" flex class="content">
    <md-grid-list class="list"
                layout="column" flex
                md-cols="{{projectGallery.inline && 4 || 6}}" md-cols-xs="2" md-cols-sm="3" md-cols-md="4" md-cols-gt-lg="6"
                md-row-height-gt-md="4:3" md-row-height="1:1"
                md-gutter-gt-md="20px" md-gutter-gt-sm="12px" md-gutter="8px">

      <md-grid-tile class="foc-tile"
                id="links"  
                ng-repeat="file in projectGallery.images track by $index" 
                md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1"
                >
      <!--CONTENT IMAGE-->       
        <!--<a id="gallery-image" class="post__image-container img-box-shadow" ng-click="projectGallery.openLightBoxModal($index)">-->
                <!--<img ng-src="{{file.url}}"
                class="post__featured-image toggle img-thumbnail"
        alt="alt"/>            -->
        <div 
          class="post__image-container"
          ng-if="projectGallery.readonly"
          onclick="slideShow(event)">              
          <a class="foc-image-slides" href="{{file.url}}">
            <img ng-src="{{file.url}}" alt="{{file.url}}" class="post__featured-image">
          </a>
        </div>

        <div 
          class="post__image-container"
          ng-if="!projectGallery.readonly"
          onclick="slideShow(event)">
          <md-icon              
              ng-click="projectGallery.remove(file.id,$index,$event)" 
              md-font-icon="icon-minus-circle-outline"
              aria-label="remove" class="md-raised md-icon-button md-accent icon-remove s25" style="cursor:pointer;">     
          </md-icon> 
          <a class="foc-image-slides" href="{{file.url}}">
            <img ng-src="{{file.url}}" alt="{{file.url}}" class="post__featured-image">
          </a>
        </div>        



        <!--</a>-->
      <!--CONTENT IMAGE-->

      </md-grid-tile>


    </md-grid-list>
  </div>  
                <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                <div id="blueimp-gallery" class="blueimp-gallery">
                    <div class="slides"></div>
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="close">×</a>
                    <a class="play-pause"></a>
                    <ol class="indicator"></ol>
                </div>    
  <!--  /PROJECT PAGE LIST-->
</div>

<!--<pre> 
  {{projectGallery.currentProject.pages}}
</pre>-->

<!--  /DETAILS PAGE-->