<div layout="column" layout-align="center center">

<div flex> 

    <md-button ng-click=""
               id="send-message"
               class="md-raised md-primary contact-btn"
               ng-disabled="false"
               aria-label="Send Message">Send Message</md-button>
  
</div>

<div flex>
     <md-button ng-click=""
               id="show-phone"
               class="md-raised md-accent contact-btn"
               ng-disabled="false"
               aria-label="Show Phone">Show Phone</md-button>
</div>
</div>