project-map{
    
    .container{
        height: 500px;
        position: relative;
        
        
            .angular-google-map-container{
                overflow: hidden;
                height: 100%;
                width: 100%;

                /*
            * These are the default styles applied to the stock Google Places Autocomplete component. Importantly they preserve
            * the required "powered by Google" logo.
            */
            }
            .angular-google-map{
                left:0px;
                top:0px;
                height:100%;
                width:100%;
                position: absolute;
                .gmnoprint{
                    visibility: hidden;
                }

            }
            .google-map-autocomplete{
                visibility: hidden !important;
                display: none !important;
            }

 
    }



    // @media screen and ( max-width: 760px ){
    //     .google-map-autocomplete{
    //         padding: 0px 0px !important;
    //         left: 0px;
    //     }
    // }
    // .google-map-autocomplete{
    //     .search-form{
    //         padding: 5px;
    //         .search-form-fields{
    //                 background-color: rgba(255, 255, 255, 0.8);
    //                 border: rgba(55, 71, 79, 0.43) solid 1px;
    //                 padding: 5px;
    //             .md-icon-button.md-button{
    //                 margin:3px;
    //             }
    //             md-input-container{
    //                 margin: 5px 0px 0px 0px !important ;
    //                 height: 30px;      
    //                 width: 100% !important;                          
    //             }
    //             .md-button.md-primary {
    //                 min-width: 60px
    //             }
    //         }
    //     }
    //     z-index: 10;
    //     position: absolute;
    //     width: 100%;    
    //     left: 0px;
    //     padding: 0px 10px;
    // }

}

