md-dialog {
  &.page-create-dialog {
    max-width: 720px;
    width: 720px;

    md-dialog-content {
      display: block;
      position: relative;
    }

    md-toolbar {
      .title {
        font-size: 17px;
      }
    }

    md-dialog-actions {
      position: relative;
      justify-content: space-between;
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      background-color: rgba(0, 0, 0, 0.03);
    }
  }
}
// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-sm) {
  md-dialog {
    &.form-create-dialog {
      width: 90%;
    }
  }
}
@media screen and (max-width: $layout-breakpoint-xs) {
  md-dialog {
    &.form-create-dialog {
      width: 100%;
    }
  }
}
