#contactus {
    .top-image {
        height: 320px;
        min-height: 320px;
        max-height: 320px;
        background: url("/assets/images/backgrounds/fix-landing-bg.jpg") no-repeat 0 45%;
        background-size: 100% auto;
        }
  
}