<div id="job-detail">
    <!--<h1 class="main-title">
        Job Detail
    </h1>-->
    <div>
        <div layout="column" flex>
            <div layout="row" layout-xs="column" flex>
                <div layout="column" layout-padding flex-gt-sm="66" flex class="content-area">
                    <md-button aria-label="edit" class="md-icon-button" ng-click="jobDetail.editJob()">
                        <md-icon md-font-icon="icon-pencil"></md-icon>
                        <md-tooltip md-direction="bottom">
                            Edit Inquiry
                        </md-tooltip>
                    </md-button>
                    <div class="subject" flex>
                        {{jobDetail.job.title}}<br>
                        <span>{{jobDetail.job.detail}}</span>

                    </div>
                    <!--<project-summary class="slide-top" current-project="jobDetail.job" flex></project-summary>
                    <project-gallery ng-show="jobDetail.job.images.length>0" class="slide-top" images="jobDetail.job.images" readonly="true" flex></project-gallery>-->
                </div>
                <div hide show-gt-xs layout="column" layout-padding flex-gt-sm="33" flex class="side-nav">
                    Map of all suppliers comes here
                </div>
            </div>
        </div>
       
        <!--<div ng-show="jobDetail.noQuotesAvailable">
            No quote yet available
        </div>
        <div class="padding-5-10">Quote Owners Ids</div>
        <pre>   
            {{jobDetail.quotesOwners}}
        </pre>-->
        <div class="thread-list" layout="column" flex>
            <md-progress-linear ng-disabled="!jobDetail.quote.loading" aria-label="loading">
            </md-progress-linear>
            <div class="md-whiteframe-2dp quotes-margin">
                <div class="heading" layout="row" layout-align="space between center">
                    <div>
                        <!--  TITLE-->
                        <div class="name">Quotes</div>
                        <!--  /TITLE-->
                    </div>
                    <div class="actions">
                        <md-select ng-model="jobDetail.sort" 
                                   multiple="false"                                   
                                   placeholder="sort">
                          <md-option ng-value="option.value" ng-repeat="option in jobDetail.sortOptions">
                            {{ option.name }}
                         </md-option>
                        </md-select>
                    </div>
                </div>
                <div class="thread {{quote.readStatus}} slide-top-nohide" md-ink-ripple ng-repeat="quote in jobDetail.quotes" ui-sref="jobs.quotedetail({quoteId:quote._id})"
                    ng-class="{'current-thread': mouseOver}" ng-mouseenter="mouseOver=true" ng-mouseleave="mouseOver=false" ng-cloak
                    layout="row" layout-xs="column">

                    <quote-owner quote="quote" owner-id="quote.owner" flex></quote-owner>

                    <label class="label-padding budget-label ng-binding md-orange-600-bg" ng-if="quote.new" ng-class="projectBudget.colors[projectBudget.index]">
             new
        </label>
                    <label class="label-padding budget-label ng-binding md-green-900-bg" ng-if="quote.updated" ng-class="projectBudget.colors[projectBudget.index]">
             updated
        </label>
                </div>
            </div>
        </div>

    </div>
</div>