<div id="contactus" class="page-layout carded fullwidth single-scroll" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" flex>

        <!-- CONTENT HEADER -->
        <div class="header">
            <span class="h2 white-fg">Quotes for </span>
            <span class="h2 white-fg">{{jobDetail.job.title}} </span>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="start center">
                <h2 class="md-primary">Quotes</h2>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <md-content class="content" ms-scroll>

                <div>
                    <div class="top-image"></div>
                </div>

                <div>
                    <h1>
                        Quotes
                    </h1>
                    <div>
                        <div layout="column" flex>
                            <div layout="row" layout-xs="column" flex>
                                <div layout="column" layout-padding flex-gt-sm="66" flex class="content-area">
                                    <project-summary class="slide-top" current-project="jobDetail.job"></project-summary>
                                    <project-gallery ng-show="jobDetail.job.images.length>0" class="slide-top" images="jobDetail.job.images"
                                        readonly="true"></project-gallery>
                                </div>
                                <div layout="column" flex-gt-sm="33" flex class="side-nav">
                                    <project-map location="jobDetail.location" layout="column" flex></project-map>
                                </div>
                            </div>
                        </div>




                        <ul>
                            <li ng-repeat="quote in jobDetail.quotes"  layout="row">
                                <div flex="70">
                                    <h1 ui-sref="app.quotedetail({quoteId:quote._id})">
                                        Quote Data here ....
                                    </h1>
                                    <pre>
                                        {{quote|json:4}}
                                    </pre>
                                    <br><br><br>
                                    <h1>
                                        Supplier Data here....
                                    </h1>
                                    <quote-owner owner-id="quote.owner"></quote-owner>                                
                                </div>                                  
                                <div flex="30">
                                    <md-button ng-click="jobDetail.acceptOffer($event,quote)"
                                               ng-disabled="quote.status === 'accepted'"
                                               id="accept"
                                               class="md-raised md-accent"                                               
                                               aria-label="accept"> Accept Offer </md-button>
                                    <md-button ng-click="jobDetail.declineOffer($event,quote)"
                                    ng-disabled="quote.status === 'rejected'"
                                                id="accept"
                                                class="md-raised md-accent"                                               
                                                aria-label="accept"> Decline Offer </md-button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


            </md-content>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>