#questions-toolbar {
                .navigation-toggle {
                    h2 {
                        text-align: center;
                        padding-right: 40px;
                        color: grey;
                        margin: 10px 0 0;
                    }
                     h4 {
                        text-align: center;
                        padding-right: 40px;
                        color: grey;
                        margin: 0;
                    }
                }
                .logo {
                margin-right: 16px;
                .logo-image {
                    display: block;
                    background: #039BE5;
                    width: 32px;
                    min-width: 32px;
                    height: 32px;
                    line-height: 32px;
                    text-align: center;
                    color: #FFFFFF;
                    font-size: 16px;
                    font-weight: 500;
                    border-radius: 2px;
                    background-image: -webkit-gradient(linear, top, from(#6E4D9B), to(#E82887));
                    background-image: -webkit-linear-gradient(top, #6E4D9B, #E82887);
                    background-image: -webkit-linear-gradient(bottom, #6E4D9B, #E82887);
                    background-image: linear-gradient(to top, #6E4D9B, #E82887);
                }
                a:hover,
                a:active {
                    text-decoration: none;
                }
                .logo-text {
                    color: rgba(0, 0, 0, 0.87);
                    margin-left: 7px;
                    font-size: 18px;
                }
            }
        
  
    .foc-nav:hover,
    .foc-nav:focus {
        height: 64px;
        margin: 0;
        border-radius: 0;
        padding: 14px 14px 0;
    }
                @media (min-width: 769px) {
                            .navigation-toggle {
                                display: none;
                            }}
                @media (max-width: 768px) {
                            .top-row {
                                display: none;
                            }}              

}