<div id="questions-toolbar" layout="column" layout-align="space-between stretch" du-scroll-container="content">
            <div class="navigation-toggle" layout="row" layout-align="start center" flex>
                <md-button class="md-icon-button" ng-click="vm.toggleHorizontalMobileMenu()"
                           aria-label="Toggle Mobile Navigation">
                    <md-icon md-font-icon="icon-home"></md-icon>
                </md-button>
               <div layout-align="center center" flex>
                <h1>Questions</h1>
                </div>
            </div>
    <div class="top-row" layout="row" layout-align="space-between center">

        <div layout="row" layout-align="start center">
          <div class="logo layout-align-start-center layout-row" layout="row" layout-align="start center">
            <a href="#header" du-smooth-scroll>
              <span class="logo-image">Fix</span>
            </a>
              <span class="logo-text">onClick</span>
          </div>
          <div class="toolbar-separator"></div>
          </div>

        <div layout="row" layout-align="start center">
           <toolbar-user ng-show="questionsToolbar.isLoggedIn"></toolbar-user> 
           <md-button class="md-warn md-raised md-hue-2" ng-click="questionsToolbar.openLogin($event)" ng-hide="questionsToolbar.isLoggedIn">LOGIN | REGISTER</md-button>
         </div>
    </div>

    <div class="bottom-row">
        <div id="horizontal-navigation" ui-view="navigation"></div>
    </div>
</div>


