#add-controls{
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin-top: 15px;
  .controls-form{
    margin-left: 10px;
    margin-right: 10px;
    md-input-container{
      margin: 2px;
      margin-top: 15px;
      margin-bottom: 0px;
    }
  }
  .controls{
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin-top: 15px;
  }
}
