<!--  OPTION CREATE-->
<div id="condition-create" flex layout="column">
  <ul dnd-list="conditionCreate.conditions">
    <li ng-repeat="condition in conditionCreate.conditions track by $index" dnd-draggable="condition" dnd-moved="conditionCreate.conditions.splice($index, 1)"
      dnd-selected="conditionCreate.selected = condition" dnd-effect-allowed="move" ng-class="{'selected': conditionCreate.selected === condition}">
      <dnd-nodrag layout="row">
        <form flex layout="row" layout-align="space between center">
          <div flex="70" layout="row" layout-align="start center">
            <md-button class="md-icon-button" dnd-handle aria-label="drag and drop conditions from here">
              <md-icon md-font-icon="icon-menu"></md-icon>
            </md-button>
            <div layout="row" layout-align="space between center" flex>
              <!--  Question-->
              <md-select ng-model="condition.question" ms-scroll aria-label="select question" flex="50" ng-model-options="{trackBy: '$value.adminKey'}">
                <md-option ng-repeat="question in conditionCreate.questions track by $index" ng-value="question" >
                  {{question.supplierDescription}}
                </md-option>
              </md-select>
              <!--  /Question-->
              <!--  Operator-->
              <md-select ng-model="condition.operator" ms-scroll aria-label="select operator" flex="15">
                <md-option ng-repeat="operator in conditionCreate.operators" ng-value="operator.id">
                  {{operator.label}}
                </md-option>
              </md-select>
              <!--  /Operator-->
              <!--  Answer-->
              <md-select ng-model="condition.answer" ms-scroll ng-if="condition.question.questionType==='radio'"
                aria-label="select answer" flex="35">
                <md-option ng-repeat="option in condition.question.options" ng-value="option.value">
                  {{option.value}}
                </md-option>
              </md-select>

              <input ng-model="condition.answer" ng-hide="condition.question.questionType==='radio'"
                aria-label="type answer">

              <!--  /Answer-->
            </div>
          </div>
          <div flex="30" layout="row" layout-align="end center">
            <md-button ng-click="conditionCreate.addCondition($index)" class="md-raised md-primary" aria-label="add">
              <md-icon md-font-icon="icon-plus"></md-icon>
              Add
            </md-button>
            <md-button ng-click="conditionCreate.removeCondition($index)" ng-hide="conditionCreate.conditions.length===1" class="md-raised md-primary"
              aria-label="remove">
              <md-icon md-font-icon="icon-minus"></md-icon>
              Remove
            </md-button>
          </div>
        </form>
      </dnd-nodrag>
    </li>
  </ul>
</div>
<!--  /OPTION CREATE-->