<div id="landing-consumer" layout="column" flex focscroll>
  <!-- Header -->
  <section id="header">
    <div class="header" layout="column" flex>
      <div class="header-woimage toggle" ng-hide="landing.servicesReady"></div>

      <div ng-show="landing.servicesReady" class="header-image toggle" ng-cloak>
      </div>
      <!-- <div class="boxed"> -->
        <div class="header-content foc-tile">
          <h1 >
            <span class="typed-heading">          

            </span>
          </h1>
          <service-autocomplete></service-autocomplete>
        </div>
      </div>
    </section>
    <!-- / HEADER -->

  <!-- CONTENT -->
  <md-content class="content">

    <!-- Categories -->
    <section id="categories">
      <div layout="row" layout-align="center center" layout-padding>
        <div flex-gt-md="70" flex-md="90" flex-gt-sm="100" flex-sm="100" flex-gt-xs="100" flex-xs="100" layout="column">
          <h2 class="md-display-1">Categories</h2>
            <div layout="row" flex layout-align="center center">
              <div layout="column" flex-gt-sm="90" flex-sm="90" flex="90" class="section-block" ng-class="{height:position100}">
                <md-grid-list class="list"
                md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="4"
                md-row-height-gt-md="1:1" md-row-height="4:3"
                md-gutter-gt-md="20px" md-gutter-gt-sm="12px" md-gutter="8px">

                  <md-grid-tile class="slide-top" ng-class="{'foc-tile':landing.imageShow}" ng-mouseover="itemShow=true" ng-mouseleave="itemShow=false" ng-repeat="cat in landing.categories"
                  md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" ng-click="landing.openServiceListDialog(cat,$event)">
                      <!-- <div style="background-image:url({{cat.image.url}});
                      background-repeat:no-repeat;
                      background-size:cover;
                      width:100%;
                      height:100%;"> -->
                      <div class="post__image-container img-box-shadow">
                        <!-- <img ng-src="{{cat.image.url}}"
                        id="{{cat.image.id}}"
                        ng-load="imageShow = true;"
                        ng-show="imageShow" alt=""
                        onload="checkBrowser();"
                        class="post__featured-image animate-show"> -->
                          <md-progress-circular md-mode="query"
                                                ng-hide="landing.imageShow"
                                                class="md-hue-2 img-progress"
                                                md-diameter="20px">

                          </md-progress-circular>
                        <img ng-src="{{cat.image.url}}"
                          id="{{cat.image.id}}"
                          ng-load="landing.showImage($index,landing.categories.length)"
                          ng-show="landing.imageShow"
                          alt="{{cat.name}}"
                          ng-class="{'coming-soon-category':!cat.publish}"
                          class="post__featured-image toggle">
                          <!--<md-tooltip ng-show="!cat.publish" md-delay="400" md-direction="top" md-autohide="true" class="cat-tooltip">
                              Coming Soon...
                          </md-tooltip>-->
                          <h3 class="md-headline" ng-show="!cat.publish" ng-class="{'change-category-name':!cat.publish}">
                            <span>{{cat.name}}</span>
                          </h3>
                          <h3 class="md-headline" ng-show="cat.publish">
                            {{cat.name}}
                          </h3>
                        </div>
                      <!-- <md-grid-tile-footer  ng-show="itemShow" style="height: 100%; cursor: pointer;">
                      </md-grid-tile-footer> -->
                  </md-grid-tile>
                </md-grid-list>
              </div>
            </div>          
            <div layout="center center"><h2>
            <md-button class="md-warn md-raised md-hue-2">View all services</md-button></h2>
            </div>
          </div> 
        </div>

      </section>
    <!-- / categories -->

    <!-- How it works -->
    <section id="work">
      <div layout="row" layout-align="center start" layout-padding layout-wrap>
        <div flex-gt-md="70" flex-md="80" layout="column">
          <h2 class="md-display-1">How it works?</h2>
          <div layout="row"  flex layout-align="center start" layout-xs="column">
                <div flex class="steps" layout-align="start center" layout="column">
                  <div layout-align="center start" flex flex-xs="100"> <img src="../../../assets/images/backgrounds/post-your-requirements.png"></div>
                  <div flex><h3>Post your requirments</h3></div>
                </div>
                <div flex class="steps" layout-align="start center" layout="column">
                  <div layout-align="center start" flex flex-xs="100"> <img src="../../../assets/images/backgrounds/get-quotes.png"></div>
                  <div flex><h3>Get quotes</h3></div>
                </div>
               <div flex class="steps" layout-align="start center" layout="column">
                  <div layout-align="center start" flex flex-xs="100"> <img src="../../../assets/images/backgrounds/select-a-service-provider.png"></div>
                  <div flex><h3>Select a service provider</h3></div>
                </div>
                <div flex class="steps" layout-align="start center" layout="column">
                  <div layout-align="center start" flex flex-xs="100"> <img src="../../../assets/images/backgrounds/sit-back-and-relax.png"></div>
                  <div flex><h3>Sit back & relax<br><span>(Yes that is mandatory step)</span><br>   
                      <svg  xmlns="http://www.w3.org/2000/svg" x="0px" y="25px"
                      width="20px" height="20px" viewBox="0 0 78.838 78.838" 
                      xml:space="preserve">
                        <g>
                          <path d="M16.443,51.331c-0.636-1.529,0.089-3.285,1.62-3.922c0.376-0.156,0.766-0.23,1.15-0.23
                            c1.176,0.002,2.292,0.697,2.771,1.852c2.777,6.685,9.655,11.004,17.523,11.004c7.69,0,14.528-4.321,17.421-11.012
                            c0.658-1.52,2.424-2.221,3.943-1.562c1.521,0.658,2.221,2.424,1.563,3.945c-3.843,8.887-12.843,14.629-22.928,14.629
                            C29.206,66.034,20.153,60.262,16.443,51.331z"/>
                          <path d="M68.732,25.97c0,7.262-5.908,13.168-13.168,13.168c-7.098,0-12.887-5.65-13.142-12.688h-6.095
                            c-0.236,7.055-6.034,12.725-13.144,12.725c-7.259,0-13.166-5.906-13.166-13.168c0-0.111,0.014-0.219,0.017-0.33L0,21.148
                            c0.379-0.78,1.045-2.104,1.576-2.899l8.982,4.054c1.605-5.461,6.654-9.461,12.626-9.461c6.281,0,11.541,4.424,12.847,10.316h6.677
                            c1.293-5.912,6.563-10.354,12.856-10.354c5.946,0,10.979,3.965,12.607,9.389l9.098-4.106c0.014,0.053,0.031,0.105,0.063,0.153
                            c0.495,0.74,1.114,1.955,1.505,2.751L68.71,25.562C68.716,25.698,68.732,25.833,68.732,25.97z"/>
                        </g>

                        </svg> 
    
                  </h3></div>
                </div>                
          </div>
        </div>
      </div>
    </section>
    <!-- / How it works -->

    <!-- Video -->
    <section id="video">
      <div layout="row" layout-align="center start">
        <div flex-gt-md="70" flex-md="80" layout="column">
          <div layout="column"  flex layout-align="center center" >
            <div class="video-placeholder" ng-hide="position400"></div>
            <div class="vidoe-outer-wrap slide-top-slow" ng-show="position400">
              <div class="video-bg">
                <iframe class="video-frame toggle" ng-show="position400" width="780" height="439" src="https://www.youtube-nocookie.com/embed/r9YPdUKAIVQ?rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / Video -->

    <!-- Our Partners -->
    <section id="partner">
      <div layout="row" layout-align="center start" layout-padding layout-wrap>
        <div flex-gt-md="70" flex-md="80" flex-xs="100" flex-gt-xs="100" layout="column">
          <h2 class="md-display-1">Our <span class="md-accent-fg">Partners</span></h2>
          <div layout="row" layout-xs="column" layout-wrap>
                <div flex="25" flex-xs="100" >
                  <div class="partner-placeholder slide-left-slow" ng-show="position1000"></div>
                  </div>
                <div flex="25" flex-xs="100">
                  <div class="partner-placeholder slide-left-slow" style="background-color:white;    background-image: none;" ng-show="position1000"></div>
                </div>
                <div flex="25" flex-xs="100">
                  <div class="partner-placeholder slide-right-slow" style="background-color:#bbb7df;    background-image: none;" ng-show="position1000"></div>
                </div>
                <div flex="25" flex-xs="100">
                  <div class="partner-placeholder slide-right-slow" style="background-color:#bbb7cc;    background-image: none;" ng-show="position1000"></div>
                </div>
                <div flex="25" flex-xs="100">
                  <div class="partner-placeholder slide-left-slow" style="background-color:#bbb7df;    background-image: none;" ng-show="position1000"></div>
                  </div>
                <div flex="25" flex-xs="100">
                  <div class="partner-placeholder slide-left-slow" style="background-color:#bbb7cc;    background-image: none;" ng-show="position1000"></div>
                </div>
                <div flex="25" flex-xs="100">
                  <div class="partner-placeholder slide-right-slow" style="background-color:white;    background-image: none;" ng-show="position1000"></div>
                </div>
                <div flex="25" flex-xs="100">
                  <div class="partner-placeholder slide-right-slow" ng-show="position1000"></div>
                </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / Our Partners -->

    <!-- Bottom -->
    <section id="bottom">
      <div class="bottom-content">

    <p class="uk-text-large uk-margin-large">Are you ready to hire a professional? <br>
      Send your inquiry now</p>
      <p class="small"><a href="http://www.fixonclick.com/" >www.fixonclick.com</a><br>
        <a href="mailto:info@fixonclick.com">info@fixonclick.com</a><br>
        +4 555 3335</p>


            </div>
        </section>
    <!-- / Bottom -->

    <!-- Footer -->
    <section id="footer" du-scroll-container="content">
      <div class="footer-content">
        <div layout="row" layout-align="center start" layout-padding layout-wrap>
          <div flex="100" layout="column">
            <div class="footer-align">
              <div class="footer-left">
                <ul class="footer-subnav">
                  <li><a href="#categories" du-smooth-scroll du-scrollspy >Categories</a></li>
                  <li><a href="#header" du-smooth-scroll>Search</a></li>
                  <li><a href="#work" du-smooth-scroll du-scrollspy>How It Works?</a></li>
                </ul>
              </div>
              <a class="" href="#header"  du-smooth-scroll>
                <md-icon md-font-icon="icon-arrow-up" class="s24 totop-scroller" aria-hidden="true">
              </a>
            <div class="footer-right">
              	<a href="#">
                  <md-icon md-font-icon="icon-facebook" class="s24 footer-icons" aria-hidden="true">
              	</a>
                <a href="#">
                  <md-icon md-font-icon="icon-twitter" class="s24 footer-icons" aria-hidden="true">
              	</a>
                <a href="#">
                  <md-icon md-font-icon="icon-youtube-play" class="s24 footer-icons" aria-hidden="true">
                </a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <!-- / Footer -->
  </md-content>
  <!-- / CONTENT -->
</div>
<!-- </div> -->
